# ======================================
# TIMECORE - Variables de entorno
# Copie este archivo como ".env" y
# configure los valores correspondientes.
# ======================================

DB_ENGINE=postgresql
DB_HOST=localhost
DB_PORT=5433
DB_NAME=nombre_base_datos
DB_USER=usuario
DB_PASSWORD=contraseña

ZK_HOST=192.168.X.X
ZK_PORT=4370
ZK_TIMEOUT=30
ZK_PASSWORD=0

LOG_LEVEL=INFO